-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: AlagaTrack
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `lost_pet_reports`
--

DROP TABLE IF EXISTS `lost_pet_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lost_pet_reports` (
  `reportID` int NOT NULL AUTO_INCREMENT,
  `petID` int DEFAULT NULL,
  `dateLost` date DEFAULT NULL,
  `lastSeenLocation` text,
  `status` varchar(50) DEFAULT 'LOST',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `ownerName` varchar(100) DEFAULT NULL,
  `petName` varchar(100) DEFAULT NULL,
  `description` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`reportID`),
  KEY `petID` (`petID`),
  CONSTRAINT `lost_pet_reports_ibfk_1` FOREIGN KEY (`petID`) REFERENCES `pets` (`petID`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lost_pet_reports`
--

LOCK TABLES `lost_pet_reports` WRITE;
/*!40000 ALTER TABLE `lost_pet_reports` DISABLE KEYS */;
INSERT INTO `lost_pet_reports` VALUES (1,NULL,'2026-05-15','AT UC MAIN','active','2026-05-15 03:17:12','Jedrick  123','Browney','brown');
/*!40000 ALTER TABLE `lost_pet_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lost_pets`
--

DROP TABLE IF EXISTS `lost_pets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lost_pets` (
  `reportID` int NOT NULL AUTO_INCREMENT,
  `petID` int DEFAULT NULL,
  `dateLost` date DEFAULT NULL,
  `lastSeenLocation` text,
  `status` enum('LOST','FOUND','RECOVERED') DEFAULT 'LOST',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`reportID`),
  KEY `petID` (`petID`),
  CONSTRAINT `lost_pets_ibfk_1` FOREIGN KEY (`petID`) REFERENCES `pets` (`petID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lost_pets`
--

LOCK TABLES `lost_pets` WRITE;
/*!40000 ALTER TABLE `lost_pets` DISABLE KEYS */;
/*!40000 ALTER TABLE `lost_pets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `owners`
--

DROP TABLE IF EXISTS `owners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `owners` (
  `ownerID` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `address` text,
  `contactNumber` varchar(15) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `email` varchar(150) DEFAULT NULL,
  `notes` text,
  PRIMARY KEY (`ownerID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `owners`
--

LOCK TABLES `owners` WRITE;
/*!40000 ALTER TABLE `owners` DISABLE KEYS */;
INSERT INTO `owners` VALUES (1,'Zaire','Cebu','123','2026-04-09 14:54:14',NULL,NULL),(2,'Rey','Mabolo','12345','2026-04-11 12:44:59',NULL,NULL),(3,'zaire',NULL,'123','2026-04-25 03:27:40',NULL,NULL),(4,'Jedrick',NULL,'123','2026-04-25 04:16:05',NULL,NULL),(5,'paul ace montealto','cebu city','0967327513','2026-05-11 14:03:09',NULL,NULL);
/*!40000 ALTER TABLE `owners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pet_history`
--

DROP TABLE IF EXISTS `pet_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pet_history` (
  `historyID` int NOT NULL AUTO_INCREMENT,
  `petID` int DEFAULT NULL,
  `description` text,
  `dateRecorded` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`historyID`),
  KEY `petID` (`petID`),
  CONSTRAINT `pet_history_ibfk_1` FOREIGN KEY (`petID`) REFERENCES `pets` (`petID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pet_history`
--

LOCK TABLES `pet_history` WRITE;
/*!40000 ALTER TABLE `pet_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `pet_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pets`
--

DROP TABLE IF EXISTS `pets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pets` (
  `petID` int NOT NULL AUTO_INCREMENT,
  `petName` varchar(50) NOT NULL,
  `species` varchar(30) DEFAULT 'Dog',
  `breed` varchar(50) DEFAULT NULL,
  `color` varchar(30) DEFAULT NULL,
  `age` int DEFAULT NULL,
  `ownerID` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `petsPhoto` varchar(300) DEFAULT 'default_pet.png',
  `lastVaccineDate` date DEFAULT NULL,
  `vaccineStatus` varchar(40) DEFAULT NULL,
  `vaccineDaysLeft` int DEFAULT NULL,
  `lostReportDate` datetime DEFAULT NULL,
  `lostReportLocation` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`petID`),
  KEY `fk_pets_owner` (`ownerID`),
  CONSTRAINT `fk_pets_owner` FOREIGN KEY (`ownerID`) REFERENCES `owners` (`ownerID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `pets_ibfk_1` FOREIGN KEY (`ownerID`) REFERENCES `owners` (`ownerID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pets`
--

LOCK TABLES `pets` WRITE;
/*!40000 ALTER TABLE `pets` DISABLE KEYS */;
INSERT INTO `pets` VALUES (1,'Whitey','Dog',NULL,NULL,NULL,3,'2026-04-25 03:27:50','default_pet.png',NULL,NULL,NULL,NULL,NULL),(2,'Browney','Dog',NULL,NULL,NULL,4,'2026-04-25 04:16:11','default_pet.png',NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `pets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `staff_members`
--

DROP TABLE IF EXISTS `staff_members`;
/*!50001 DROP VIEW IF EXISTS `staff_members`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `staff_members` AS SELECT 
 1 AS `staffID`,
 1 AS `fullName`,
 1 AS `username`,
 1 AS `password`,
 1 AS `role`,
 1 AS `phone`,
 1 AS `email`,
 1 AS `status`,
 1 AS `atPin`,
 1 AS `last_login`,
 1 AS `created_at`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `userID` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('ADMIN','STAFF') NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`userID`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','zaire123','ADMIN','2026-04-04 09:31:49'),(2,'staff','staff','STAFF','2026-04-05 05:48:07'),(3,'paul rusasebagina','qwerty','STAFF','2026-04-25 03:10:31');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vaccinations`
--

DROP TABLE IF EXISTS `vaccinations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vaccinations` (
  `vaccinationID` int NOT NULL AUTO_INCREMENT,
  `petID` int DEFAULT NULL,
  `vaccineType` varchar(50) DEFAULT NULL,
  `dateGiven` date DEFAULT NULL,
  `nextDueDate` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`vaccinationID`),
  KEY `petID` (`petID`),
  CONSTRAINT `vaccinations_ibfk_1` FOREIGN KEY (`petID`) REFERENCES `pets` (`petID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vaccinations`
--

LOCK TABLES `vaccinations` WRITE;
/*!40000 ALTER TABLE `vaccinations` DISABLE KEYS */;
INSERT INTO `vaccinations` VALUES (1,2,NULL,'2026-05-14','2027-05-14','2026-05-14 10:12:43'),(2,1,NULL,'2026-05-15','2027-05-15','2026-05-15 02:50:08');
/*!40000 ALTER TABLE `vaccinations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `staff_members`
--

/*!50001 DROP VIEW IF EXISTS `staff_members`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `staff_members` AS select `users`.`userID` AS `staffID`,`users`.`username` AS `fullName`,`users`.`username` AS `username`,`users`.`password` AS `password`,`users`.`role` AS `role`,'' AS `phone`,'' AS `email`,'ACTIVE' AS `status`,'1234' AS `atPin`,now() AS `last_login`,`users`.`created_at` AS `created_at` from `users` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-25 14:17:43
